html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  color: #e9a4eb;
}

body h1 {
  scrollbar-width: none !important;
  line-height: 30px;
}

body {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: blur(2px);
  transition: background 0.5s ease-in-out;
  scrollbar-width: none !important;
}

body iframe,
body div {
  margin: 0 auto;
  width: 80vw;
}

header {
  padding: 20px;
  text-align: center;
}

footer {
  padding: 20px 10em;
}

nav {
  padding: 10px 0;
  width: 100%;
  margin: 3em 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 50px;
}

section {
  flex-grow: 1;
  text-align: center;
  padding: 20px;
  overflow: auto;
  filter: blur(0);
}

h1 {
  text-shadow: black 0px 0px 5px;
  line-height: 10px;
  width: 100%;
  text-align: center;
  font-size: 5em;
}

h2 {
  padding: 30px 10em;
  text-shadow: black 0px 0px 5px;
  text-align: center;
}

i {
  font-size: 2.5em;
  color: #e9a4eb !important;
  text-shadow: black 0px 0px 5px;
}

i:hover {
  color: #d37bd6 !important;
}

.sketchfab-embed-wrapper {
  position: absolute;
  top: -45px;
  z-index: -1000;
}

.sketchfab-embed-wrapper iframe {
  min-width: 100vw;
  position: absolute;
  min-height: 120vh;
}

.g-background-default {
  background-color: #f5f5f585 !important;
}

.rotating-text {
  font-size: 3em;
  animation: rotate 5s linear;
  transform-style: preserve-3d;
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(0deg) rotateY(360deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

/* Loading Screen Styles */
#loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 1s ease;
}

#loading-screen h1 {
  color: #e9a4eb;
  text-shadow: 0px 0px 5px black;
  font-size: 3em;
  animation: rotate2 5s;
}

#sc {
  position: absolute;
  bottom: 0;
  width: 80vw;
  margin: 2em 0em;
}

@media (max-width: 600px) {
  h1 {
    line-height: 40px;
    margin-top: 5px;
  }

  h2 {
    font-size: large;
    line-height: 17px;
    padding: 0 20px 15px 0;
    margin: 0;
  }

  i {
    font-size: 1.5em;
  }

  nav {
    margin: 0 5px;
  }

  #sc {
    width: 90vw;
    margin: -30px 0;
  }

  nav ul {
    display: flex;
    padding: 0;
  }

  nav ul li {
    display: block;
    margin-bottom: 5px;
    margin: auto;
    padding: 0 20px;
  }

  h2 {
    padding: 20px;
  }

  footer {
    padding: 0 20px;
  }

  .sketchfab-embed-wrapper iframe {
    left: 0px;
  }
}
